/fsub/kakoune-mark
/TeddyDD/kakoune-cfdg
/occivink/kakoune-gdb
/TeddyDD/kakoune-wiki
/lenormf/kakoune-extra
/TeddyDD/kakoune-lf
/' evaluate-commands %sh{ echo $1
/-.} } ' ' evaluate-commands %sh{ echo $1
/-.} } '
/'occivink/kakoune-gdb
/'fsub/kakoune-mark
/'TeddyDD/kakoune-cfdg
/'TeddyDD/kakoune-wiki
/'lenormf/kakoune-extra
/'TeddyDD/kakoune-lf
/fsub/kakou
/TeddyDD/kakoune-edit-or-dir
/occivink/kakoune-snippets
/alexherbo2/select.kak
/alexherbo2/yank-ring.kak
