[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=%h/.config/scripts/battery-monitor.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=niri.service
