[Unit]
After=graphical-session.target
PartOf=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=exec
ExecStart=%h/.dotfiles/quickshell/justfile run
Restart=on-failure
RestartSec=1
