[Unit]
After=graphical-session.target

[Service]
Type=exec
ExecStart=udiskie -t
Restart=on-failure
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target
