* {
    border: none;
    border-radius: 0px;
    font-family: Jetbrains Mono Nerd Font;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: black;
    border-bottom: none;
    color: #FFF;
    transition-property: background, background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.;
}

/*
window#waybar.empty {
    background: transparent;
}
window#waybar.solo {
    background: #FFFFFF;
}
*/

window#waybar.termite {
}

window#waybar.firefox {
    border-bottom: 2px solid orange;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 0 5px;
    border-bottom: 0px solid transparent;
    color: #DDD
}

#workspaces button.active {
    color: #ffffff;
    border-bottom: 0px solid #ffffff;
    background: #005973
}

#workspaces button.focused {
    color: #ffffff;
    border-bottom: 0px solid #ffffff;
    background: #005973
}


#workspaces button.urgent {
    background: #d92817
}

#mode {
    border-bottom: 0px solid #ffffff;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-media, #tray, #mode, #idle_inhibitor {
    padding: 0 3px;
    margin: 0 5px;
}

#clock {
}

#battery {
}

#battery.charging {
}

@keyframes blink {
    to {
      background: #FFAAAA;
    }
}

#battery.critical:not(.charging) {
    background: #d92817;
    /* animation-name: blink; */
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
}

#cpu {
}

#memory {
}

#backlight {
}

#network {
}

#network.disconnected {
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-media {
    min-width: 100px;
}

.custom-spotify {
}

.custom-vlc {
}

#temperature {
}

#temperature.critical {
}

#tray {
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
}

#mpd {
}

#mpd.disconnected {
}

#mpd.stopped {
}

#mpd.paused {
}
