/* Smaller tabs */
@media (min-width: 0px) {
    :root[uidensity="compact"] {
        --tab-min-height: 24px !important;
        --tabstrip-min-height: 24px !important;
        --tab-block-margin: 0px !important;
        --tab-border-radius: 0px !important;
    }

    #tabbrowser-tabs:not([secondarytext-unsupported], [orient="vertical"]) {
        .tab-label-container {
            height: inherit !important;
        }
    }
}

@media (min-width: 10000px) {

    /* Autohide navigation bar. Gives some issue with urlbar placement sometimes */
    :root[sessionrestored]:not([customizing]) #navigator-toolbox:not(:hover):not(:focus-within) #nav-bar {
        max-height: 0 !important;
        min-height: 0 !important;
        overflow: hidden;
        /*margin-bottom: 0px;
        opacity: 0;
        /* Wait 500ms before hiding the nav bar on unfocus */
        transition: all 250ms ease 500ms;
    }

    :root[sessionrestored] #nav-bar {
        /* Max height must be set to something here to be animated */
        max-height: 100px;
        min-height: 0;
        transition: all 250ms ease 00ms;
    }
}

/* Hide Tabs toolbar when there is only one (unpinned) tab */
/* Disabled, as it depends on https://bugzilla.mozilla.org/show_bug.cgi?id=1792501 being fixed */
@media (max-width: 0px /* Set to min-width to enable */) {
    :root[sessionrestored]:not([customizing]) 
        #navigator-toolbox:not(:focus-within):not(:hover)
        #TabsToolbar:has(.tabbrowser-tab[first-visible-unpinned-tab]:last-of-type)/**/ {
        max-height: 0px !important;
        background-color: green !important;
        transition: all 250ms ease 500ms;

    }
    
    #TabsToolbar {
        max-height: 100px !important;
    }
    
    /* 5px mouse area at top of page to show hidden navbar */
    
    :root[sessionrestored]:not([customizing]) #navigator-toolbox:not(:hover):not(:focus-within) {
        transition: all 250ms ease 500ms;
        border-bottom: 5px solid transparent !important;
    }
    :root[sessionrestored] #navigator-toolbox {
        transition: all 250ms ease 00ms;
    }

    :root[sessionrestored] #navigator-toolbox {
        margin-bottom: -5px;
        z-index: 100;
    }
}
