/* Autohide navigation bar. Gives some issue with urlbar placement sometimes */
:root:not([customizing]) #navigator-toolbox:not(:hover):not(:focus-within) #nav-bar {
  max-height: 0;
  margin-bottom: 0px;
  opacity: 0;
  min-height: 0!important;
  /* Wait 500ms before hiding the nav bar on unfocus */
  transition: all 250ms ease 500ms;
}

#urlbar {
  /* Fix urlbar placement - Some calculation of this variable breaks on new windows */
  --urlbar-toolbar-height: 28.5px !important;
}

#nav-bar {
  /* 44px is the height in touch-density. Max height must be set here to be animated. Works in lower densities as well */
  max-height: 44px;
  transition: all 250ms ease 00ms;
}

/* Smaller tabs */

#navigator-toolbox {
  --tab-min-height: 24px !important;
  --tab-border-radius: 0px;
}
#navigator-toolbox tab {
  max-height: var(--tab-min-height);
}

#navigator-toolbox .tab-background {
  margin: 0px !important;
  border-radius: 0px !important;
}

.tab-throbber-tabslist, .tab-throbber, .tab-icon-pending, .tab-icon-image, .tab-sharing-icon-overlay, .tab-icon-overlay {
  height: 12px !important;
  width: 12px !important;;
}

:root[sizemode="maximized"] .tabbrowser-tab {
  font-size: 13px;
}

/* Makes tabs toolbar items zero-height initially and sets enlarge them to fill up space equal to tab-min-height set on tabs. Optionally use privatemode_indicator_as_menu_button.css to replace main menu icon with private browsing indicator while tabs are hidden. */
/* Firefox 65+ only */

:root[sizemode="normal"] #nav-bar{ --uc-window-drag-space-width: 20px }

#titlebar{ -moz-appearance: none !important; }
#TabsToolbar{
  transition: all 250ms;
}

#tabbrowser-tabs .tabbrowser-tab{ height: calc(var(--tab-min-height) + 2 * var(--tab-block-margin,0px)) }

/* Requires layout.css.has-selector.enabled in about:config */
#TabsToolbar:has(#tabbrowser-tabs .tabbrowser-tab[first-visible-tab="true"][last-visible-tab="true"]) {
  visibility: none !important;
}

/* Button re-styling */
#tabs-newtab-button{ transform: scale(0.8); }
#tabs-newtab-button:hover{
  background-color: var(--toolbarbutton-hover-background);
  border-radius: var(--tab-border-radius);
}

#tabs-newtab-button > .toolbarbutton-icon{
  padding: 0 !important;
  transform: scale(0.6);
  background-color: transparent !important;
}
/* Extra top padding  in maximized window */
@media  (-moz-platform: windows),
        (-moz-os-version: windows-win7),
        (-moz-os-version: windows-win10){
  :root[tabsintitlebar][sizemode="maximized"] #navigator-toolbox{
    padding-top:2px !important;
  }
}
/* Fix window controls not being clickable */
:root[tabsintitlebar] #toolbar-menubar[autohide="true"][inactive]{
  transition: height 0ms steps(1) 80ms;
}
:where(#nav-bar){
  /*! border-inline: var(--uc-window-drag-space-width,0) solid var(--toolbar-bgcolor); */
}
